<div class="col-xs-6">
  <select name="guiest_id1" id="guiest_id1" class="select-drop">
    <option value="0">並び替え</option>
    <option value="1">人気順</option>
    <option value="2">安い順</option>
    <option value="3">新着順</option>
    <option value="3">高い順</option>
  </select>
</div>