<%= provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'top_light_section', taxon: @taxon %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <!-- サイドバー -->
      <%= render 'sidebar_categories', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
              <%= link_to potepan_product_path(product.id) do %>
                <div class="productImage clearfix">
                  <%= image_tag product.display_image.attachment(:product) %>
                </div>
                <div class="productCaption clearfix">
                  <a href="single_product.html">
                    <h5><%= product.name %></h5>
                  </a>
                  <h3><%= product.display_price %></h3>
                </div>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<%= render 'bottom_light_section' %>
